*{
    margin: 0px;
    padding: 0px;
}
.header {
    display: flex;
    justify-content: space-around;
      position: fixed;
    width: 100%;
    z-index: 100;
    height: 50px;
    background-color: white;
}
.header h1 {
    color: blue;
}

.header i {
    display: none;
}

.uk {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-top: 10px;
    margin-left: 75px;
}
.uk li a {
    text-decoration: none;
    color: black;

}
.fc {
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 130px;
}
.dasw {
    text-align: center;
    margin-top: 30px;
     padding-top: 100px;
}
.dasw p {
    margin-top: 15px;
}
.gag {
    margin-top: 50px;
}
.gag button {
    width: 100px;
    height: 40px;
    background-color: #DEE0E2;
    color: black;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
}



.gag .eda {
    width: 100px;
    height: 40px;
    background-color: blue;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    text-decoration: none;
    border: none;
    border-radius: 20px; 
}

.eda a {
    text-decoration: none;
    color: white;
}

button a {
    text-decoration: none;
    color: white;
}

.hy a {
    text-decoration: none;
    color: black;
}


.gag input {
    width: 310px;
    height: 30px;
    padding-left: 20px;
    margin-left: 320px;
    margin-top: 56px;
  padding-top: -50px;

}


.saw img {
    width: 370px;
    height: 300px;
    border-radius: 10px;
}
.ujk img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 10px;
}
.fav img{
margin-left: 40px;
margin-top: -45px;
position: absolute;
}
.saw h6 {
    width: 30px;
    height: 28px;
  background-color: #DBEAFE;
    margin-left: 65px;
    border-radius: 40px;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 8px;
    margin-top: -45px;
    position: relative;
    border: 1px solid black;
}

.saad h6 {
       width: 30px;
    height: 28px;
  background-color: #DBEAFE;
    margin-left: 65px;
    border-radius: 40px;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: -60px;
    position: relative;
    border: 1px solid black;
}

.good {
    display: flex;
    justify-content: space-around;
}

.fad {
    display: flex;
}
.saw h4 {
    background-color: B4C5FF;
    color: blue;
    margin-left: 10px;
}
.saw h1 {
    margin-left: 10px; 
    margin-top: 5px;
}
.saw p {
    margin-left: 10px;
    margin-top: 10px;
}
.but button {
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 120px;
    margin-top: 20px;
}

.saw {
    width: 370px;
    height: 520px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px;
    border-radius: 20px;
}

.footer {
     width: 1260px;
    height: 250px;
    background-color: black;
    color: white;
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    margin-top: 50px;
}

.main p {
    margin-top: 20px;
}

.main i {
    margin-top: 20px;
}

.product li {
    list-style: none;
    margin-top: 13px;
}

.product li {
    list-style: none;
    margin-top: 13px;
  
}

.Pages li {
    list-style: none;
    margin-top: 12px;
}

.Pages li a {
    text-decoration: none;
    color: white;
}

.cont p {
    margin-top: 13px;
}
.cont input {
    width: 255px;
    height: 30px;
    margin-top: 20px;
    border-radius: 7px;
    border: none;
    padding-left: 15px;
}
.cont button {
     width: 270px;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
border-radius: 7px;
    margin-top: 20px;
}

@media ( max-width : 768px) {
    .header {
        flex-direction: column;
        width: 768px;
        height: 40px;
        background-color: blue;
    }
    .header h1 {
        color: white;
        margin-top: -15px;
    }
    .header ul {
        display: none;
    }
    .header button {
        display: none;
    }

.header i {
    display: block;
    margin-left: 720px;
    margin-top: -50px;
    color: white;
}

.input {
    margin-left: 20px;
}

.good {
    flex-direction: column;
    margin-left: 50px;
}

.footer {
        flex-direction: column;
        width: 100%;
        height: 800px;
    }



}